<h1 class="c1"> Detail de {{det.libelle}}</h1>
<div class="container">
<ul class="list-group">
       <div class="row">
            <div class="col-6">
                <li class="list-group-item"> <img [src]="det.photo"></li>
                <li class="list-group-item"> marque {{det.marque}} </li>
                <li class="list-group-item"> prix {{det.prix}} </li>
                <li class="list-group-item"> description {{det.description}}</li>
                <li class="list-group-item"> quantite {{det.quantite}}</li>
                <li class="list-group-item"> <input type="checkbox" [checked] ="det.hautGamme"> hout de gamme </li>
                <button class="btn btn-primary" (click)="onshow()"> afficher les commentaires</button>   
            <button (click)="onRetour()" class="btn btn-success">Retour</button>
            </div>  
     
            <div *ngIf="!showing">
          
                <h3> liste des commentaires </h3>
                    <ng-container *ngFor="let c of det.commentaires ; index as i ">
                         <div  class="col">
                         <ihe-comment [com] = "c" [index] = "i"></ihe-comment>
                         </div>
                    </ng-container>
            </div>
       </div>
   
</ul>
</div>
